Body {
  background-image: url("images/applesimg.avif");
  background-size: cover;
  text-align: center;
  font-family: "Georgia", serif;
}

h1 {
    text-align: center;
    border-style: solid;
    background-color: PeachPuff;
    font-size: 60px;
    font-family: "Georgia", serif;
}

p {
  color: #006400;
  text-align: center;
  font-size: 40px
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 32%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}