html {
	background-image: url(background.jpg); 
	background-size: cover;
	background-repeat: repeat;
}


body { font-family: verdana, arial, sans-serif; 
       font-size: 12px; 
       line-height: 1.5;
       margin: 0;
       padding: 0;
       background: BlanchedAlmond url(images/oceanimg.jfif)
}

h1 {
	border-style: solid;
 	text-align: center;
 	background-color: coral;
}


h2 {
	border-style: solid;
      border-radius: 5px;
 	text-align: center;
 	background-color: coral;  

}

h3 {
	border-style: solid;
 	text-align: center;
 	background-color: coral;  

}

.wrap {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  border: 5px solid #000;
  background: coral;
  border-spacing: 10px;
  position: relative;
  display: flex;
}
.col1,
.col2 {
  padding: 10px;
  text-align: justify;
  width: calc(50% + 220px);
}
p {
  padding: 5px;
  margin: 0 0 1em;
}
.col1:before,
.col2:before {
  float: right;
  width: 1px;
  height: 90px;
  content: " ";
}
.col2:before {
  float: left;
}
.img {
  float: right;
  clear: right;
  margin: 20px 0 20px 20px;
  border-radius: 50%;
  border: 10px solid #fff;
  shape-outside: circle(50%);
}
.col2 img {
  float: left;
  margin: 20px 20px 20px 0;
  clear: left;
}
.col1 .inner {
  margin-right: 220px;
}
.col2 .inner {
  margin-left: 220px;
}
.col2 {
  margin-left: -440px;
}

@media screen and (max-width: 800px) {
  .wrap {
    display: block;
  }
  .col2:before {
    display: none;
  }
  .col1,
  .col2,
  .col1 .inner,
  .col2 .inner {
    width: auto;
    margin: 0;
  }
  .col2 .img {
    display: none;
  }
  .img {
    width: 50%;
    height: auto;
    min-width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .col1:before {
    display: none;
}
}


img {
 border: 25px solid white;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#watermark
{
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:1px;
 z-index:99;
 color:black;
}